body {
    color: #ffffff;
    background-color: #484848;
    margin: 0;
}

.navbar {
    background-color: #000000;
    padding: 0;
}

.nav-link {
    padding-top: 16px;
    padding-bottom: 16px;
}

.navbar-brand {
    margin: 0;
    padding: 13px;
}

.active {
  background-color: #212121;
}

@media only screen and (max-width: 767px) {
  .navbar-collapse {
      background-color: #000000;
      position: fixed;
      top: 56px;
      transition: all 0.8s ease-out;
      height: 100%;
      width: 100%;
      left: 768px;
  }

  .nav-item {
      text-align: center;
  }
}

.content {
  background-color: #484848;
}

.content h2 {
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
}

.content h1 {
    background-color: #212121;
    text-align: center;
    padding: 40px;
}

.content p {
    text-align: center;
    margin: 30px;
}

.content i {
    text-align: center;
    margin: 40px;
}

.svgContainer {
    position: relative;
    width: 100%;
    height: auto;
    pointer-events: none;
    overflow: hidden;
}

.linkedin {
    float: right;
}
